<?php
/**
* Interakting Slider
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com and you will be sent a copy immediately.
*
* @category   BusinessDecision
* @package    BusinessDecision_Interaktingslider
* @author     Business & Decision Picardie - contactmagento@interakting.com
* @copyright  Copyright (c) 2009 Business & Decision (http://www.businessdecision.com)
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

if($this->getModel()->isVisible()){
    echo $this->addJs();
?>
<style><?php echo $this->getSkinCss()?></style>
<div id="div-interaktingslider" align="center">
    <div id="frame">
        <div id="top-left"></div>
        <div id="top-center"></div>
        <div id="top-right"></div>
        <div id="middle-left"></div>
        <div id="middle-center">
            <div id="slide-content">
            <?php if(!$this->getModel()->hasSlides()){?>
                  <div id="no-slide"><?php echo $this->getModel()->getNoSlideText()?></div>
            <?php }	?>
            </div>

        </div>
        <div id="middle-right"></div>
        <div id="bottom-left"></div>
        <div id="bottom-center"></div>
        <div id="bottom-right"></div>
    </div>
</div>
<script>
<?php echo $this->startJs();?>
</script>
<?php
}
?>
