<?php
/**
 * Scandiweb / 123pallets.nl
 */
?>
<div class="footer-container">
    <div class="footer">
        <div class="footer-data">
            <?php echo $this->getChildHtml() ?>
        </div>
    </div>
</div>
