<?php
/**
 * Scandiweb / 123pallets.nl
 */
?>
<?php $_menu = $this->getHtml('level-top') ?>
<?php if($_menu): ?>
    <div class="nav-container">
        <ul id="nav">
            <?php $_anyActive = false; foreach ($this->getStoreCategories() as $_category) { $_anyActive = $_anyActive || $this->isCategoryActive($_category); } ?>
            <li class="level0 nav-0<?php if (Mage::helper('core/url')->getCurrentUrl() === Mage::helper('core/url')->getHomeUrl()):?> active <?php else: ?> <?php endif ?>level-top home"><a href="<?php echo $this->getUrl('')?>" class="level-top"><div class="home-img"></div></a></li>
            <?php echo $_menu ?>
        </ul>
    </div>
<?php endif ?>